<html>
<h1>Your reservation is booked</h1>
<p>
Hi {{bookerEmail}}

We have noted down your reservation and booked you for the following nights

{{#availabilities}}
* {{interval}}
{{/availabilities}}

The hotel night starts at {{hotelHourStart}} and ends {{hotelHourEnd}}

To contact the owner, please use the following:
* Email address {{ownerEmail}}
* Telephone Number {{ownerTelephone}}
</p>
</html>