<html>
<h1>Your reservation is booked</h1>
<p>
Hi {{bookerEmail}}

We have noted down your reservation under ID {{bookingId}} and booked you for {{nights}} nights between {{interval.start}} and {{interval.end}}

The hotel night starts at {{hotelHourStart}} and ends {{hotelHourEnd}}

To contact the owner, please use the following:
* Email address {{ownerEmail}}

</p>
</html>